$theme-colors: (
  "primary":  #11292d,
  "danger": #ff4136,
  "black" : #000000,
  "white" : #ffffff
);

:root {
    // --bs-body-bg: #f5faff; //  #f1f3f6
    --bs-primary      : #091619;
    --bs-primary-rgb  : rgb(14,61,68);
    --bs-secondary    : #ff4136;
    --bs-secondary-rgb: 189, 47, 45;
    --bs-warning      : #ff9e1b;
    --bs-warning-rgb  : 255, 158, 27;
}
