    <div class="container-fluid login-content">
        <div class="logo">
            <img class="damImg" width="80" height="70px" src="/assets/images/icons/1 dm.png"
                alt="logo">
        </div>
        <div *ngIf="emailPage" class="pt-4">
            <label for="email">Please Enter Your Email-ID*</label>
            <input type="text" class="form-control border-primary mt-1" id="email" name="email">
        </div>
        <div *ngIf="!emailPage" class="pt-3">
            <label for="email">Please Enter the OTP</label>
            <input type="text" class="form-control border-primary mt-1" id="email" name="email">
        </div>

        <div class="signUp mt-3">
            <button (click)="emailPage?submit():login()" style="font-size:x-small" class="btn btn-primary but_log">
                {{emailPage?'Submit':'Login'}}
            </button>
        </div>
    </div>