<div class="container">
    <div class="row category-card" >
        <div class="col-6 col-md-4" *ngFor="let item of listOfCategories">
            <div class="custom-card mx-auto">
                <div class="card py-3 my-2 my-lg-4 my-xl-5 my-xxl-5 mx-auto" (click)="showDialog = !showDialog" [ngClass]="{'travelTools': item.name === 'Travel Toolz'}">
                    <img class="card-img-top mt-2 cursor-pointer"
                    [src]="item.imageURL" alt="Card image cap">
                    <div class="card-body text-center" *ngIf="item.name != 'Travel Toolz'">
                        <small class="text-primary"> {{item.name}} </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngr-model [showDialogBox]="showDialog" [accept]="'ok'" position="bottom" (closeDialogBox)="showDialog = false">
    <app-under-working (closeDialogBox)="showDialog = false" ></app-under-working>
</ngr-model>