.travelTools{
    background-color: var(--bs-primary);
    height: 173px !important;
    width: 200px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    img{
        width: 100px !important;
        height: 75px !important;
        margin: 0px !important;
    }
}

@media screen and (max-width : 2160px) and (min-width : 1440px) {
    .custom-card{
        width: 240px;
        img{
            width: 75px; 
            height: 75px; 
            margin: auto;
        }
        transition: 0.5s;
    }
    .custom-card:hover{
        transform: scale(1.08);
    }
}

@media screen and (max-width : 1440px) and (min-width : 768px) {
    .custom-card{
        width: 240px;

        img{
            width: 75px; 
            height: 75px; 
            margin: auto;
        }
        transition: 0.5s;
    }
    .custom-card:hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width : 768px) and (min-width : 568px) {
    .custom-card{
        width: 200px;
        img{
            width: 75px; 
            height: 75px; 
            margin: auto;
        }
    }
}

@media screen and (max-width : 567px) {
    .custom-card{
        width: 175px;
        img{
            width: 60px; 
            height: 60px; 
            margin: auto;
        }

    }
}