<div class="container">
    <div class="row category-card" >
        <div class="col-6 col-md-4" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
            <div class="">
                <div class="card py-3 m-0 my-lg-4 my-xl-5 my-xxl-5 mx-auto" style="width: 200px;">
                    <img class="card-img-top mt-2" style="width: 75px; height: 75px; margin: auto;"
                    src="/assets/images/categories/calender.png" alt="Card image cap">
                    <div class="card-body text-center">
                        <small class="text-primary">Event Management</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>