<div class="container mt-5">
    <div class="row mx-0">
        <div class="col-12 col-lg-6 col-xl-6">
            <img src="/assets/images/categories/responsiveImage.png" class="mb-4" style="width: 100%;" alt="">
            <h5 class="text-primary fw-bold text-center"> Just one Click </h5>
            <h5 class="text-primary fw-bold text-center">Avail your Privilege Service from DAMEES through signup</h5>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 right-column mt-5 mt-lg-0">
            <div class="my-3">
                <h1 class="text-primary fw-bold text-end">Where do you need our service?</h1>
                <div class="locality mt-4 d-flex justify-content-end">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select your locality
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
            </div>
        
            <div class="my-3">
                <h1 class="text-primary fw-bold text-end">Book your service now</h1>
                <div class="phone-number my-4 d-flex justify-content-end">
                    <input type="text" class="form-control border-primary" placeholder="Enter Phone Number...">
                </div>
            </div>
        </div>
    </div>
</div>