    <div class="container-fluid signup-content">
        <div class="logo">
                <img class="damImg" width="80" height="70px" src="/assets/images/icons/1 dm.png" alt="logo">
        </div>
        <div class="pt-4">
            <div class="pb-1">
                <label for="name">Name*</label>
                <input type="text" class="form-control border-primary mt-1" id="name"  name="name" >
            </div>
            <div class="pb-1">
                <label for="email">Email*</label>
                <input type="text" class="form-control border-primary mt-1" id="email"  name="email" >
            </div>
            <div class="pb-1">
                <label for="mobileNumb">Mobile Number*</label>
                <input type="text" class="form-control border-primary mt-1" id="mobileNumb"  name="mobileNumb" >
            </div>
        </div>
        <div class="signUp mt-5">
            <button style="font-size:x-small" class="btn btn-primary  but_log">
                SIGN UP
            </button>
        </div>
    </div>