<div class="container mt-3">
    <div class="row p-3">
        <div class="timing col-4 text-center">
            <p class="display-4 mb-0">
                {{time}} <small class="fs-3">{{seconds}}</small>
            </p>
            <small class="">{{date}} IND</small>
        </div>
        <div class="logo col-4 d-flex justify-content-center ">
            <img [routerLink]="['/']" width="100" src="/assets/images/icons/1 dm.png" alt="logo">
        </div>
        <div class="location col-4 d-flex justify-content-center align-items-center">
            <button class="btn btn-primary text-white">
                <span> <i class="bi bi-geo-alt fs-5 me-md-2"></i></span>
                <span class="d-none d-md-block">Location</span></button>
        </div>
    </div>
    <div class="col-12">
        <div class="right-sidebar">
            <a type="button" (click)="showRightDialog = true" class="btn btn-primary px-1 py-2"><i
                    class="bi bi-caret-left"></i></a>
        </div>
    </div>
</div>

<ngr-menubar [showDialogBox]="showRightDialog" position="right" (closeDialogBox)="showRightDialog = false">
    <app-right-side-bar></app-right-side-bar>
</ngr-menubar>