<div class="container mt-3">
    <div class="row p-3">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                    <div class="location">
                        <button class="btn btn-primary text-white px-5 py-3">Location</button>
                    </div>
                <div>
                    <div class="logo">
                        <img width="100" src="/assets/images/icons/1 dm.png" alt="logo">
                    </div>
                    <div class="authentication mt-4 text-center">
                        <button class="btn btn-white border-primary rounded-bottom-0">
                            SignUp
                        </button>
                        <button class="btn btn-primary rounded-top-0">
                            Login
                        </button>
                    </div>
                </div>
                <div>
                    <div class="timing">
                        <p class="display-3 mb-0">
                            02 : 37
                        </p>
                        <small class="text-center">27 Tuesday 2022 IND</small>
                    </div>
                    <div class="post mt-2 text-center">
                        <button class="btn btn-primary text-white">Post Your Needs</button>
                    </div>
                    <div class="hire mt-2 text-center">
                        <button class="btn btn-primary text-white">Hire Yourself</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="search-bar container mt-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control border-primary p-3" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-primary p-3" type="button"><i class="bi bi-search fs-5 me-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>