<div class="container mt-3">
    <div class="row">
        <div class="col-4">
            <div class="post mt-2 text-center d-none d-md-block">
                <button class="btn btn-primary text-white">Post Your Needs</button>
            </div>
            <div class="hire mt-2 text-center d-none d-md-block">
                <button class="btn btn-primary text-white">Hire Yourself</button>
            </div>
        </div>
        <div class="col-4">
            <div class="authentication mt-4 text-center">
                <button (click)="login = false" [ngClass]="{'activeBtn': !login}"
                    class="btn btn-white border-primary rounded-bottom-0">
                    SignUp
                </button>
                <button (click)="login = true" [ngClass]="{'activeBtn': login}"
                    class="btn btn-white border-primary rounded-top-0">
                    Login
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <div class="search-bar container mt-5">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-primary p-3" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-primary p-3" type="button"><i
                                    class="bi bi-search fs-5 me-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-container container">
    <div class="row category-card">
        <div class="col-6 col-md-4" *ngFor="let item of listofCategories">
            <app-categories [category]="item" [style]="'mx-auto'"></app-categories>
        </div>
    </div>
</div>

<app-product-services></app-product-services>

<div class="container avaliable mt-5">
    <div class="row mx-0">
        <div class="col-12">
            <div class="d-flex justify-content-center mb-3">
                <a type="button" class="text-primary text-decoration-none text-center shadow py-3 px-4">AVAILABLE ON</a>
            </div>
            <div class="social-icons">
                <ul class="text-white p-0 text-uppercase white-space-nowrap mb-0">
                    <li class="text-primary"><i class="bi bi-instagram"></i></li>
                    <li class="text-primary"><i class="bi bi-twitter"></i></li>
                    <li class="text-primary"><i class="bi bi-youtube"></i></li>
                    <li class="text-primary"><i class="bi bi-facebook"></i></li>
                    <li class="text-primary"><i class="bi bi-whatsapp"></i></li>
                    <li class="text-primary"><i class="bi bi-pinterest"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ngr-model [showDialogBox]="showDialog" [closeButton]="true" position="bottom" (closeDialogBox)="showDialog = false">
    <div class="container px-5">
        <div class="usericon text-center">
            <i class="bi bi-person-fill display-1 text-primary"></i>
        </div>
        <div class="authentication mt-4 text-center">
            <button class="btn btn-white border-primary rounded-bottom-0">
                SignUp
            </button>
            <button class="btn btn-primary rounded-top-0">
                Login
            </button>
        </div>
        <div class="my-4">
            <input type="text" class="form-control border-primary" placeholder="Enter Phone Number...">
        </div>
        <div class="text-center">
            <p>HELP CENTER <i class="bi bi-headset"></i></p>
        </div>
        <div class="bottom d-flex align-items-baseline">
            <img width="50" height="35" src="/assets/images/icons/2 dm.png" alt="">
            <p class="ms-2">Became a Previlage Member</p>
        </div>
    </div>

</ngr-model>