.avaliable {
    a {
        border-radius: 40px;
    }
}

.social-icons {
    display: flex;
    justify-content: center;

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        padding: 1rem;

        .bi {
            font-size: 26px;
            border: 3px solid;
            padding: 4px 9px;
            border-radius: 30px;
        }
    }
}

.authentication{
    display: flex;
    flex-direction: column;
    background-color: var(--bs-primary);
    border-radius: 10px;
    width: 100px;
    margin: auto;
}