<app-categories></app-categories>

<app-product-services></app-product-services>

<div class="container avaliable mt-5">
    <div class="row mx-0">
        <div class="col-12">
            <div class="d-flex justify-content-center mb-3">
                <a type="button" class="text-primary text-decoration-none text-center shadow py-3 px-4">AVAILABLE ON</a>
            </div>
            <div class="social-icons">
                <ul class="text-white p-0 text-uppercase white-space-nowrap mb-0">
                    <li class="text-primary"><i class="bi bi-instagram"></i></li>
                    <li class="text-primary"><i class="bi bi-twitter"></i></li>
                    <li class="text-primary"><i class="bi bi-youtube"></i></li>
                    <li class="text-primary"><i class="bi bi-facebook"></i></li>
                    <li class="text-primary"><i class="bi bi-whatsapp"></i></li>
                    <li class="text-primary"><i class="bi bi-pinterest"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>