<div class="footer">
    <div class="container px-0 mt-5">
        <div class="row mx-0 pb-2">
            <div class="col-12">
                <div class="footer-list">
                    <ul class="text-white p-0 white-space-nowrap">
                        <li class="">About Us</li>
                        <li class="">Damees Privilege</li>
                        <li class="">Privacy Policy</li>
                        <li class="">Terms & Condition</li>
                        <li class="">Careers</li>
                        <li class="">Become a Privilege Member</li>
                        <li class="">Reach Us</li>
                        <li class="">Present Offers</li>
                        <li class="">Hire Yourself</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-between flex-wrap">
                <div class="logo d-flex align-items-baseline text-white flex-wrap">
                    <img src="/assets/images/icons/2 dm.png" class="me-1" width="100" alt="">
                    <h3 class="mb-0 me-3">DAMEES</h3>
                    <p class="fs-5 mb-0"><i class="bi bi-c-circle"></i> 2016 - 2022 DAMEES  MANAGEMENT  INDIA  PVT  LTD</p>
                </div>
                <div class="d-flex align-self-end flex-wrap">
                    <img src="/assets/images/icons/googleplay.png" class="me-3" height="45" alt="">
                    <img src="/assets/images/icons/applestore.png" height="45" alt="">
                </div>
            </div>
        </div>
    </div>
</div>