<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="title">
                <h5 class="text-white bg-primary text-center py-2 rounded">
                    Add Your Requirements
                </h5>
            </div>
            <div class="body-content">
                <div class="my-1">
                    <label for="">Event Location</label>
                    <input type="text" class="form-control border-primary" placeholder="Please Enter">
                </div>
                <div class="my-1">
                    <label for="">Date</label>
                    <input type="text" class="form-control border-primary" placeholder="Please Enter">
                </div>
                <div class="my-1">
                    <label for="">Walk In Location</label>
                    <input type="text" class="form-control border-primary" placeholder="Please Enter">
                </div>
                <div class="my-1">
                    <label for="">Select your locality</label>
                    <select class="form-control">
                        <option>Chennai</option>
                        <option>Bangalore</option>
                        <option>Mumbai</option>
                    </select>
                </div>
                <div class="my-1">
                    <label for="">Budget</label>
                    <input type="text" class="form-control border-primary" placeholder="Please Enter">
                </div>
                <div class="my-1">
                    <label for="">Religion</label>
                    <select class="form-control">
                        <option>Hindu</option>
                        <option>Christian</option>
                        <option>Muslim</option>
                    </select>
                </div>
                <div class="my-1">
                    <label for="">Other</label>
                    <textarea type="text" class="form-control border-primary" placeholder="Please Enter"></textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <p class="title text-primary fs-5 text-uppercase text-center">
                Offers and Benefits
            </p>
            <div class="offers">
                <a class="btn btn-white fs-5 shadow-lg">
                    #OFFER 1
                </a>
                <a class="btn btn-white fs-5 shadow-lg">
                    #OFFER 2
                </a>
                <a class="btn btn-white fs-5 shadow-lg">
                    #OFFER 3
                </a>
                <a class="btn btn-primary fs-5 shadow-lg">
                    #OFFER 4
                </a>
            </div>
        </div>
        <div class="col-12 text-center my-2">
            <button class="btn btn-primary px-3 py-2">Get Quote</button>
        </div>
    </div>
</div>